@font-face{
    font-family: 'poppins';
    src: url('../css/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

.container{
    display: flex;
}

aside{
    background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    height: 100vh;
}

.logo{
    display: flex;
    padding: 20px;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 15px;
}

.logo h2{
    font-size: 30px;
    margin-top: 15px;
}

.sidebar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: .3s ease;
}

.sidebar a:hover{
    background-color: white;
    color: black;
}

.sidebar a span{
    margin-right:10px;
}

main{
    width: 100%;
    margin: 0;
}

main .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 10px #BBBBBB;
}

main .header .profile-section{
    display: flex;
    cursor: pointer;
}

main .header .profile-section img{
    width: 40px;
    height:40px;
    margin-right: 6px;
}

main .header h2{
    margin-top: 10px;
}

main .header h3{
    margin-top: 6px;
}

.hamburger{
    display: none;
}
.card{
    box-shadow: 0px 2px 10px #BBBBBB;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    border-radius: 10px;
}
.card span{
    font-size: 70px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}


/* responsive */
@media screen and (max-width:470px){

    aside{
        display: none;
    }

    main .header .title-text{
        display: none;
    }

    main .header .hamburger{
        display: block;
        rotate: 90deg;
        cursor: pointer;
    }

    .show-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 67px;
        animation: slideLeft 0.4s ease-out forwards;
    }

    .hide-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 67px;
        animation: slideRight 0.4s ease-out forwards;
    }
    .cards{
        margin-left: 10px;
    }
}


/* animation */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}

.card-table{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    width: 100%;
    overflow-x: auto;
    color: black;
}

/* Header */
.card-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
     background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-table-header h4{
    font-size: 20px;
    font-weight: 600;
}

.card-table-header button{
    padding: 8px 16px;
    border: none;
    background: lightgreen;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

/* Searching/filter */
.card-table-searching{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.searching-input{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 6px;
    flex: 1;
    max-width: 300px;
}

.searching-input input{
    border: none;
    outline: none;
    margin-left: 6px;
    width: 100%;
}

.searching-select select{
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
}

/* table */
.card-table-content table{
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; /* biar responsive scroll */
}

.card-table-content th, .card-table-content td{
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: left;
}

.card-table-content th{
    background: #89F7FE;
    font-weight: 600;
}
.card-table-content td{
    cursor: pointer;
}
/* pagination */
.card-table-footer{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    gap: 6px;
    background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pagination-item{
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
}
.items-pagination{
    display: flex;
    gap: 1;
    margin-left: 460px;
}

/* responsive breakpoint */
@media(max-width: 768px){
    .card-table-searching{
        flex-direction: column;
        align-items: stretch;
    }
    .card-table-header{
        display: block;
    }
    .card-table-header button{
        margin-top: 10px;
    }
    .card-table-content{
        display: none;
    }
    .items-pagination{
        margin: unset;
    }
    .pagination-item:nth-child(4),
    .pagination-item:nth-child(5){
        display: none;
    }
}
footer{
    padding: 10px;
    text-align: center;
}