@font-face{
    font-family: 'poppins';
    src: url('../css/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

.container{
    display: flex;
}

aside{
    background-color: green;
    color: white;
    height: 100vh;
}

.logo{
    display: flex;
    padding: 20px;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 15px;
}

.logo h2{
    font-size: 30px;
    margin-top: 15px;
}

.sidebar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: .3s ease;
}

.sidebar a:hover{
    background-color: white;
    color: green;
}

.sidebar a span{
    margin-right:10px;
}

main{
    width: 100%;
    margin: 0;
}

main .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 10px #BBBBBB;
}

main .header .profile-section{
    display: flex;
    cursor: pointer;
}

main .header .profile-section img{
    width: 40px;
    height:40px;
    margin-right: 6px;
}

main .header h2{
    margin-top: 10px;
}

main .header h3{
    margin-top: 6px;
}

.hamburger{
    display: none;
}


/* responsive */
@media screen and (max-width:470px){

    aside{
        display: none;
    }

    main .header .title-text{
        display: none;
    }

    main .header .hamburger{
        display: block;
        rotate: 90deg;
        cursor: pointer;
    }

    .show-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 60px;
        animation: slideLeft 0.4s ease-out forwards;
    }

    .hide-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 60px;
        animation: slideRight 0.4s ease-out forwards;
    }
}


/* animation */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}
