@font-face{
    font-family: 'poppins';
    src: url('../css/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

.container{
    display: flex;
}

aside{
    background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    height: 100vh;
}

.logo{
    display: flex;
    padding: 20px;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 15px;
}

.logo h2{
    font-size: 30px;
    margin-top: 15px;
}

.sidebar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: .3s ease;
}

.sidebar a:hover{
    background-color: white;
    color: black;
}

.sidebar a span{
    margin-right:10px;
}

main{
    width: 100%;
    margin: 0;
}

main .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 10px #BBBBBB;
}

main .header .profile-section{
    display: flex;
    cursor: pointer;
}

main .header .profile-section img{
    width: 40px;
    height:40px;
    margin-right: 6px;
}

main .header h2{
    margin-top: 10px;
}

main .header h3{
    margin-top: 6px;
}

.hamburger{
    display: none;
}
.card{
    box-shadow: 0px 2px 10px #BBBBBB;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    border-radius: 10px;
}
.card span{
    font-size: 70px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}


/* responsive */
@media screen and (max-width:470px){

    aside{
        display: none;
    }

    main .header .title-text{
        display: none;
    }

    main .header .hamburger{
        display: block;
        rotate: 90deg;
        cursor: pointer;
    }

    .show-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 67px;
        animation: slideLeft 0.4s ease-out forwards;
    }

    .hide-aside{
        display: block;
        position: absolute;
        z-index: 10;
        margin-top: 67px;
        animation: slideRight 0.4s ease-out forwards;
    }
    .cards{
        margin-left: 10px;
    }
    .card-content-detail{
        display: block !important;
    }
   
}


/* animation */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}

.card-table{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);
    width: 100%;
    overflow-x: auto;
    color: black;
}

/* Header */
.card-table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
     background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-table-header h4{
    font-size: 20px;
    font-weight: 600;
}

.card-table-header button{
    padding: 8px 16px;
    border: none;
    background: lightgreen;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

/* Searching/filter */
.card-table-searching{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.searching-input{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 6px;
    flex: 1;
    max-width: 300px;
}

.searching-input input{
    border: none;
    outline: none;
    margin-left: 6px;
    width: 100%;
}

.searching-select select{
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
}

/* table */
.card-table-content table{
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; /* biar responsive scroll */
}

.card-table-content th, .card-table-content td{
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: left;
}

.card-table-content th{
    background: #89F7FE;
    font-weight: 600;
}
.card-table-content td{
    cursor: pointer;
}
/* pagination */
.card-table-footer{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.pagination{
    display: flex;
    gap: 6px;
    background: linear-gradient(to right, #89F7FE, #66A6FF);
    color: black;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pagination-item{
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
}
.items-pagination{
    display: flex;
    gap: 1;
    margin-left: 460px;
}
.card-item-responsive{
    display: none;
}
/* responsive breakpoint */
@media(max-width: 768px){
   
    .card-table-searching{
        flex-direction: column;
        align-items: stretch;
    }
    .card-table-header{
        display: block;
    }
    .card-table-header button{
        margin-top: 10px;
    }
    .card-table-content table{
        display: none;
    }
    .items-pagination{
        margin: unset;
    }
    .pagination-item:nth-child(2),
    .pagination-item:nth-child(3),
    .pagination-item:nth-child(4),
    .pagination-item:nth-child(5),
    .pagination-item:nth-child(6){
        display: none;
    }
    .card-item-responsive{
        display: block;
    }

    
}

footer{
    padding: 10px;
    text-align: center;
}
.card-responsive-item{
    box-shadow: 0px 2px 10px #BBBBBB;
    padding: 15px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.card-responsive-item h3,
.card-responsive-item p{
    text-align: center;
}
.card-responsive-item img{
    display: block;
    margin: 0px auto;
}
.modal{
    position: fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.4);
    opacity:0;
    pointer-events:none;
    transition: opacity .3s ease;
    z-index:9999;
}

.modal.show{
    opacity:1;
    pointer-events:auto;
}

.modal-content{
    width: 700px;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    transform: translateY(-30px);
    transition: transform .3s ease;
}

.modal.show .modal-content{
    transform: translateY(0);
}

.modal-content-header,
.modal-content-footer{
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.modal-content-header h1{
    font-size:22px;
    font-weight:600;
}

.modal-content-header span{
    font-size:26px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

.modal-content-header span:hover{
    color:red;
}

.modal-content-body{
    padding:20px;
}

.modal-content-body form{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.form-group{
    width: calc(50% - 10px);
    display:flex;
    flex-direction:column;
}

.form-group label{
    margin-bottom:5px;
    font-weight:600;
}

.form-group input{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    outline:none;
}

.modal-content-footer button{
    width:100%;
    padding:12px;
    border:none;
    background:#8de02c;
    font-weight:600;
    border-radius:6px;
    cursor:pointer;
}

.modal-content-footer button:hover{
    opacity:.9;
}
.pagination button{
    padding: 10px;
   
    border: none;
    cursor: pointer;
}
.pagination button:first-child{
    background-color: yellow;
}
.pagination button:last-child{
    background-color: red;
    color: white;
}
.card-content-detail{
    display: inline-flex;
}
.img-detail-content{
    margin-right: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.login-box{
    width: 100%;
    max-width: 380px;
    background: linear-gradient(to right, #89F7FE, #66A6FF);
    backdrop-filter: blur(12px);
    padding: 35px 30px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.3);
    color: #000;
}

.login-box h2{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.input-box{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    padding: 12px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    color: #000;
    font-size: 16px;
    transition: .3s;
}

.input-box label{
    position: absolute;
    left: 10px;
    bottom: 10px;
    pointer-events: none;
    font-size: 16px;
    color:#000;
    transition: .3s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color:#000;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-22px);
    font-size: 13px;
    color:#000;
}

.forgot-pass{
    text-align: right;
    margin-bottom: 20px;
}

.forgot-pass a{
    color: rgba(255,255,255,.7);
    font-size: 14px;
    text-decoration: none;
}

.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #fff;
    color: #111;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.btn:hover{
    transform: translateY(-2px);
    background: #eaeaea;
}

/* responsive mobile */
@media (max-width:450px){
    .login-box{
        padding: 30px 25px;
        max-width: 330px;
    }
}

.modal-alert-icon{
    font-size:60px;
    margin-bottom:10px;
}

.modal-content h3{
    font-size:19px;
    margin-bottom:10px;
    color:#333;
}

.modal-desc{
    font-size:14px;
    margin-bottom:20px;
    color:#666;
}

.modal-btn-group{
    display:flex;
    justify-content:center;
    gap:15px;
}

.cancel-btn{
    padding:10px 18px;
    border-radius:10px;
    background:#eee;
    border:none;
    cursor:pointer;
}
.delete-btn{
    padding:10px 18px;
    border-radius:10px;
    background:#d63031;
    color:white;
    border:none;
    cursor:pointer;
}

@keyframes show{
    from{ transform:scale(.8); opacity:0; }
    to{ transform:scale(1); opacity:1; }
}
#destroy-modal{
    display: block;
    padding: 20px;
}
#destroy-modal h3,
#destroy-modal p{
    margin-left: 150px;
}
.modal-alert-icon{
    margin-left: 300px;
}